body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.icon {
  background-image: url('../image/IF_jadwal.ico');
  /* Atur ukuran, posisi, dan properti latar belakang lainnya sesuai kebutuhan */
} 

header {
  z-index: 1;
  position: fixed;
  background: #dee1ea;
  padding: 35px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

h3 {
  position: absolute;
  top: 25%;
  left: 50%;
}

.left_area h3 {
  color: black;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}
.logout_btn {
  padding: 5px;
  background: #19b3d3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover {
  background: #ffff;
}

.sidebar {
  z-index: 1;
  top: 0;
  background: #2b4c7a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-x: hidden;
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4 {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: white;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover {
  color: black;
  background: #fff;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover {
  color: #19b3d3;
}

#check:checked ~ .sidebar {
  left: -185px;
}

#check:checked ~ .sidebar a span {
  display: none;
}

#check:checked ~ .sidebar a {
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content {
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background: url(background.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content {
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info {
  display: none;
}

#check {
  display: none;
}

.mobile_nav {
  display: none;
}

.content .card p {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

/* Responsive CSS */

@media screen and (max-width: 780px) {
  .sidebar {
    display: none;
  }

  #sidebar_btn {
    display: none;
  }

  .content {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  #check:checked ~ .content {
    margin-left: 0;
  }

  .mobile_nav {
    height: 60px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
  }

  .nav_bar {
    background: #222;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover {
    color: #19b3d3;
  }

  .mobile_nav_items {
    background: #2f323a;
    display: none;
  }

  .mobile_nav_items a {
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover {
    background: #19b3d3;
  }

  .mobile_nav_items i {
    padding-right: 10px;
  }

  .active {
    display: block;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.left {
  flex: 1;
  background-image: url("gambar.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.right {
  flex: 1;
  background-color: #fff;
  padding: 40px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* form input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background-color: #5460ff;
  font-weight: bold;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

tr:hover {
  background-color: #e2e2e2;
}

/* button {
  color: #ffffff;
  padding: 8px 22px;
  border-radius: 6px;
  background: #82cd47;
  transition: all 0.25 ease;
  cursor: pointer;
} */
button:active {
  transform: scale(0.96);
}

.span-header {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px;
}

.content .card form input[type="submit"] {
  position: relative;
  bottom: 10px;
  right: 5px;
  background-color: #5460ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

::placeholder {
  color: #9c9c9c;
}

input[type="text"] {
  padding: 12px;
  border: 1px solid #7eca9c;
  border-radius: 5px;
}

/* Gaya untuk menampilkan pop-up di tengah layar */
#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 600px;
  width: 500px;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  z-index: 9999;
}

#popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

input[type="date"] {
  appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #333;
  color: #333;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="date"]:focus {
  outline: none;
  border-bottom: 2px solid #ff6b6b;
}

/* table tr td a {
  display: inline-block;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  padding: 5px 20px;
  background-color: #15ff00;
  border: 2px solid #333;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
} */
select {
  appearance: none;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

select:focus {
  outline: none;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

select option {
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

/* Style untuk icon panah bawah */
select::-ms-expand {
  display: none;
}

select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #333;
  pointer-events: none;
}
