@import url("https://fonts.googleapis.com/css?family=Roboto:400:700");

@media screen and (max-width: 768px) {
  /* CSS for mobile screens */
  .container{
    max-width: 480px;
  }

  .login{
    width: 480px;
    flex-direction: column;
  }

  .image{
    width: 100%;
    margin-top: 0;
  }

  .form{
    margin-top: 50px;
    padding: 0 20px;
  }

  .masuk{
    min-width: 100%;
  }

  .tittle1{
    font-size: 12pt;
  }

  .tittle2{
    font-size: 20pt;
  }

  .kolom, .user{
    width: 150%;
  }
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1000px;
}

.login{
    margin-top: 50px;
    width: 1000px;
    display: flex;
}

.image{
    margin-top: 50px;
    object-fit: cover;
    width: 720px;
height: auto;
   
}

.login{
    justify-content: end;
    background-color: #fff;
}

.login,.form{
    display: flex;
    align-items: center;
}

label{
    display: inline-block;
    font-size: 16px;
    font-weight: 600px;
    padding: 5px;
}

.tittle1{
  font-family: var (--font-family-roboto);
  font-size: 14pt;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
}

.tittle2{
  font-family: var(--font-family-roboto);
  font-size: 24pt;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 2px;
  min-height: 35px;
}

.masuk{
  background-color: #2b4c7a;
  font-family: var(--font-family-roboto);
  color :#fff;
  border-radius: 5px;
  height: 50px;
  margin-top: 61px;
  min-width: 347px;
  padding: 1px 19px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.masuk:hover{
    background-color: gray;
    font-family: var(--font-family-roboto);
    color : white;
}

.kolom{
    margin-top: 12px;
    padding: 1px 19px;
}

.user{
    margin-top: 12px;
    padding: 1px 19px;
}

.icon {
  background-image: url('../image/IF_jadwal.ico');
  /* Atur ukuran, posisi, dan properti latar belakang lainnya sesuai kebutuhan */
} 